.a{
    width: 200px;
    height: 260px;
    background-color: white;
    margin: auto;
    box-shadow: 0px 0px 4px black ;
    border-radius: 5px ;
}
body{
    background-color: beige;
}
button{
    width: 100px;
    background-color: red;
    border-radius: 40px red;
}